body {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;

}

.navbar a {
    color: #EB813F;
    font-weight:bold;
    justify-content: center;
    display: flex;
   
}
.foto h3 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #ffff;
    width: 90%;
    text-align: center;
    
}
.foto {
    background-image: url('/img/foto8.jpeg');
    height: 550px;
    background-color: rgb(50,50,50);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.hero{
    height: 300px;
    background-image: url('/img/minute.jpeg');
    background-position: 100%;
    background-size:100% ;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(50,50,50);
    background-blend-mode: soft-light;

}
.btn{
    width: auto;
    height: 40px;
    background-color: #EB813F;
    color: white;
    font-weight: 500;
    border: none;

}
.btn:hover{
    color: #EB813F;
    background-color: white;

}
#row{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}
.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    height: 50px;
    width: 50px;
    text-align: center;

}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #EB813F;
    color: #993EAD;
    line-height: 50px;
    border-radius: 100%;
    font-size: 18px;
    box-shadow: 0 3px 5px 0 #993EAD;
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0 #921eac;
    filter: none;
}
